@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "Android";
    src: url(fontes/idroid.otf) format(opentype);
}

:root{

    --fonte-padrao: Arial , Verdana , sans-serif;
    --fonte-destaque: "Bebas Neue" , cursive;
    --fonte-droir: 'droid' , cursive;

    --cor0: #74FF99;
    --cor1: #2CE85C;
    --cor2: #55FF33;
    --cor3: #A4EB26;
    --cor4: #FFF945;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}
header{
    background-color: var(--cor1);
}
header > h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 3em;
}
header > p {
    text-align: center;
    padding: 20px;
    font-size: 1.6em;
    font-family: var(--fonte-destaque);
}
nav{
    background-color: var(--cor1);
    padding: 15px;
    border: 5px;
}
nav > a {
    text-decoration: none;
    padding: 15px;
    
    color: white;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor1);
    font-weight: bold;
    transition-duration: 0.5s;
}
main{
    
    background-color: white;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
main p {
    text-indent: 10px;
    text-align: justify;
    line-height: 1.2em;
}

aside{
    background-color: var(--cor3);
    padding: 10px;

}
aside > h3{
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    
}
aside > ul  {
    columns: 2;
    list-style-position: inside;
}

